header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  height: 2em;
  padding: 2em;
}

#body-container {
  background-color: var(--dark);
  color: white;
  min-height: calc(100vh - 2em);
  padding: 1em;
}